.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: .25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.justify-content-between {
  justify-content: space-between!important;
}

.d-flex {
  display: flex!important;
}


.product-order-list {
  border-top: 1px solid #96c03d;
  line-height: 50px;

  &.selected {
    background-color: #edeff0;
  }
}

table {
  width: 100%;

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

.product_subcategory {
  color: $primary;
  border-bottom: $primary 1px solid;
}

#tr-total {
  line-height: 25px;
}

#td-total {
  border: black 2px solid;
  font-weight: bold;
}