<fieldset>
    <legend><i class="fas fa-user-plus" aria-hidden="true"></i> {{ 'title.user_create'|trans }}</legend>

    <form method="get" action="{{ path('user_new') }}">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus" aria-hidden="true"></i> {{ 'action.create'|trans }}
        </button>
    </form>
</fieldset>