<nav>
        <ol class="cd-breadcrumb">
                <li class="current"><a href="{{ path('user_account') }}">{{ 'title.account.user'|trans }}</a></li>
                <li><a href="{{ path('user_purchase') }}">{{ 'title.account.purchase'|trans }}</a></li>
        </ol>
</nav>